{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
{% block styles%}
{{ super() }}
<!-- <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}"> -->
<link href="https://fonts.googleapis.com/css?family=Laila" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-9">


 <div class="container-fluid container">
    <h1 style='text-align:center;'>Welcome to DevLog</h1>
  
    
  <a class="btn btn-basic btn md" href="/new_blog">Add a new Blog</a>
  <a class="btn btn-basic btn md" href="/subscribe" style="float:center;">subscribe</a>
  {% for blog in all_blogs %}
  <div class="container-fluid">
    <div class="card-deck">
      <div class="card">
        <div class="card-body">

          <p>{{blog.blog}}</p>

        </div>
        <div class="card-header" style='text-align:center;'>
          <h5>{{blog.user}}</h5>
        </div>

        <br>
        <div class="card-footer">
          <div class="container-fluid write">
            <a class="btn btn-basic btn-md" href="/comment/new/{{blog.id}}">Write comment</a>
            <p><a class="btn btn-light btn-xl sr-button" href="{{url_for('main.delete_blogs',id = blog.id)}}"> delete
                blog</a></p>
              <!-- Social media sharing -->
              <h4>Share Blog</h4>
    <!-- <a href="https://www.facebook.com/sharer/sharer.php?u=https://moringaschool.com/] target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.addtoany.com/add_to/twitter?linkurl=www.moringaschool.com&amp;linkname=" target="blank" ><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/shareArticle" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://wa.me/?text=[DevLog made for Devs] [https://moringaschool.com/]" target="_blank"><i class="fab fa-whatsapp"></i></a>
    <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site http://www.website.com."
     title="Share by Email"><i class="fas fa-envelope-square"></i></a> -->
     <!-- AddToAny BEGIN -->
<div>
  <a href="https://www.addtoany.com/add_to/facebook?linkurl=www.moringaschool.com&amp;linkname=" target="_blank"><img src="https://static.addtoany.com/buttons/facebook.svg" width="32" height="32" style="background-color:rgb(56, 64, 90)"></a>
  <a href="https://www.addtoany.com/add_to/facebook_messenger?linkurl=www.moringaschool.com&amp;linkname=" target="_blank"><img src="https://static.addtoany.com/buttons/facebook_messenger.svg" width="32" height="32" style="background-color:royalblue"></a>
  <a href="https://www.addtoany.com/add_to/skype?linkurl=www.moringaschool.com&amp;linkname=" target="_blank"><img src="https://static.addtoany.com/buttons/skype.svg" width="32" height="32" style="background-color:royalblue"></a>
  <a href="https://www.addtoany.com/add_to/twitter?linkurl=www.moringaschool.com&amp;linkname=" target="_blank"><img src="https://static.addtoany.com/buttons/twitter.svg" width="32" height="32" style="background-color:royalblue"></a>
  <a href="https://www.addtoany.com/add_to/whatsapp?linkurl=www.moringaschool.com&amp;linkname=" target="_blank"><img src="https://static.addtoany.com/buttons/whatsapp.svg" width="32" height="32" style="background-color:royalblue"></a>
  <a href="https://www.addtoany.com/add_to/sms?linkurl=www.moringaschool.com&amp;linkname=" target="_blank"><img src="https://static.addtoany.com/buttons/sms.svg" width="32" height="32" style="background-color:royalblue"></a>
  <a href="https://www.addtoany.com/add_to/email?linkurl=www.moringaschool.com&amp;linkname=" target="_blank"><img src="https://static.addtoany.com/buttons/email.svg" width="32" height="32" style="background-color:royalblue"></a>
  </div>
  <!-- AddToAny END -->
  <body id="body" class="dark-mode">
    <h1>Dark/Light Mode Switcher</h1>
     
    <button type="button" name="dark_light" onclick="toggleDarkLight()" title="Toggle dark/light mode">🌛</button>
    
    <p>Just press the button above to toggle!</p>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>

  {% endfor %}
  </div>
 
    </div>
    <div class="col-md-3">
        <aside class="col-md-4">
            <div class="card" style="width: 18rem; margin-bottom: 25px;">
                <div class="card-header">
                    Stacks
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fab fa-python"></i> Python</li>
                    <li class="list-group-item"><i class="fab fa-java"></i> Java</li>
                    <li class="list-group-item"><i class="fab fa-js"></i> JavaScript</li>
                    <li class="list-group-item"><i class="fab fa-cuttlefish"></i> C</li>
                    <li class="list-group-item"><i class="fab fa-php"></i> PHP</li>
                </ul>
            </div>
      
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Frameworks
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fab fa-angular"></i> Angular</li>
                    <li class="list-group-item"><i class="fab fa-bootstrap"></i> Bootstrap</li>
                    <li class="list-group-item"><i class="fab fa-vuejs"></i> Vue</li>
                </ul>
            </div>
        </aside>
    </div>
  </div>
</div>
<footer class="footer bg bg-dark">
    <div class="container">
    <p style="color:bisque; text-align: center;">Copyright &copy; James, Simon and Mohammed</p>
    <p style="color:bisque; text-align: center;">The local date and time is {{ moment(current_time).format('LLL') }}.</p>
    <p style="color:bisque; text-align: center;">You logged in {{ moment(current_time).fromNow(refresh=True) }} ago</p>
    <br>
     </div>
</footer>

{% endblock%}