{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Laila" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock %}

{% block content %}
<div class="container" style="margin-top: 10px; margin-bottom: 10px; padding-top: 10px; padding-bottom: 30px;">
  <div class="row">
    <div class="col-md-9">


 <div class="container-fluid container">
    <h1 class="main-heading" style='text-align:center;'>Welcome to DevLog</h1>  
  {% for blog in all_blogs %}
  <div class="container-fluid">
    <div class="card-deck">
      <div class="card">
        
        <img src="../static/photos/blog_pic1.jpeg" class="card-img-top" alt="{{blog.blog_title}}">
        
        <div class="card-body">
          <div class="row" style="margin-left: 10px; margin-right: 10px;">
              <p style="margin-right: 10px;"><strong>Title: </strong><em>{{blog.blog_title}}</em></p>  
              <p style="margin-right: 10px;"><strong>Author:</strong> <em>{{blog.user}}</em>,</p>
              <p><em>3:43 pm</em></p>
              <p>{{blog.blog}}</p>
          </div>
          </div>


        <br>
        <div class="card-footer">
          <div class="container-fluid write">
            <a class="btn btn-basic btn-md" href="/comment/new/{{blog.id}}">Write comment</a>
            <p><a class="btn btn-light btn-xl sr-button" href="{{url_for('main.delete_blogs',id = blog.id)}}"> delete
                blog</a></p>
              <!-- Social media sharing -->
              <h5>Share Blog</h5>
    
  <div>
  <a href="https://www.addtoany.com/add_to/facebook?linkurl=www.moringaschool.com&amp;linkname=" target="_blank"><i class="fab fa-facebook"></i></a>
  <a href="https://www.addtoany.com/add_to/facebook_messenger?linkurl=www.moringaschool.com&amp;linkname=" target="_blank"><i class="fab fa-facebook-messenger"></i></a>
  <a href="https://www.addtoany.com/add_to/skype?linkurl=www.moringaschool.com&amp;linkname=" target="_blank"><i class="fab fa-skype"></i></a>
  <a href="https://www.addtoany.com/add_to/twitter?linkurl=www.moringaschool.com&amp;linkname=" target="_blank"><i class="fab fa-twitter"></i></a>
  <a href="https://www.addtoany.com/add_to/whatsapp?linkurl=www.moringaschool.com&amp;linkname=" target="_blank"><i class="fab fa-whatsapp"></i></a>
  <a href="https://www.addtoany.com/add_to/sms?linkurl=www.moringaschool.com&amp;linkname=" target="_blank"><i class="fas fa-sms"></i></a>
  <a href="https://www.addtoany.com/add_to/email?linkurl=www.moringaschool.com&amp;linkname=" target="_blank"><i class="fas fa-envelope-square"></i></a>
  </div>
  <!-- AddToAny END -->
  <!-- <body id="body" class="dark-mode">
    <h1>Dark/Light Mode Switcher</h1>
     
    <button type="button" name="dark_light" onclick="toggleDarkLight()" title="Toggle dark/light mode">🌛</button>
    
    <p>Just press the button above to toggle!</p> -->
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>

  {% endfor %}
  </div>
 
    </div>
    
    
    <div class="col-md-3">
        <aside class="col-md-4">
            <div class="card" style="width: 18rem; margin-bottom: 25px;">
                <div class="card-header">
                    Login info 
                </div>
                <ul class="list-group list-group-flush">
                   
                    <li class="list-group-item"> <p style="color:black;">The local date and time is {{ moment(current_time).format('LLL') }}.</p></li>
                    <li class="list-group-item"> <p style="color:black;">You visited this website {{ moment(current_time).fromNow(refresh=True) }} ago</p></li>
                   
                </ul>
            </div>

            <div class="card" style="width: 18rem; margin-bottom: 25px;">
                <div class="card-header">
                    Latest Blogs <a class="btn btn-basic btn md" href="/subscribe" style="float:center;">subscribe</a>
                </div>
                <ul class="list-group list-group-flush">
                  {% for blog in all_blogs%}
                    <li class="list-group-item"><a href="{{url_for('main.view_blog',blog_id=blog.id)}}"><p>{{blog.blog_title}}</p></a></li>

                    {% endfor %}
                </ul>
            </div>
      
        </aside>
    </div>
  </div>
  </div>
  <footer style="position: fixed; bottom: 0; width: 100%; height: 60px; line-height: 60px; background-color: #f5f5f5; margin-top: 20px;"   class="footer bg bg-dark">
    <p style="color:bisque; text-align: center;">Copyright &copy; James, Simon and Mohammed</p>
    <br>
  </footer>

{% endblock%}